.nopadd {
  padding: 0;
}



.App-body {
  /*text-align: center;*/
  padding: 0 1%;
}
.header {
  /*background-color: #3b5998;*/

  background-color: #ddd;
  color: #666;
  margin: 0;
  padding: 1% 0%;

}
.border-lr {
  padding: 0;
  border-left: 3px solid #eee;
  border-right: 3px solid #eee;
}
.users {
}
.userItem {
  padding: 3%;
  border-top:  1px solid #eee;
  cursor: pointer;
}
.userItem:hover {
  background-color: #eee;
}
.users-header {
  padding: 1%;
  text-align: center;
  border-bottom:  2px solid #ddd;
  color: #666;
  background-color: #eee;
}
.user-list {
  overflow-y: auto;
  height: 470px;

}
.messages {
  height: 550px;
}
.message-header {
  padding: 0.5%;
  text-align: center;
  border-bottom:  2px solid #ddd;
  color: #666;
  background-color: #eee;

}
.message-input {
  background-color: #eee;
  padding: 3%;
  display: inline-flex;
  width: 100%;

}
.message-input textarea {
  padding: 1%;
  width: 90%;
  outline: none;
  border-radius: 5px;
  max-height: 400px;
}
.message-body {
  padding: 1%;
  overflow-y: auto;
  height: 375px;
}
.message-body-messages {
  padding: 1%;
  background-color: #eee;
  border-radius: 10px;
  width: 60%;
  margin-top: 10px;
  word-wrap: break-word;
}
.message-footer {
  bottom: 0px;
  position: absolute;
  width: 100%;
}
.inbox-header {
  padding: 1%;
  text-align: center;
  border-bottom:  2px solid #ddd;
  color: #666;
  background-color: #eee;

}
