body {
  /*padding: 1%;*/
  font-family: sans-serif;
  background-color: white;
  color: #555;
  /*margin: 0px;
  padding: 0px;*/
}
::-webkit-scrollbar {
width: 7px;
height: 15px;
}
::-webkit-scrollbar-track-piece  {
}
::-webkit-scrollbar-thumb:vertical {
height: 30px;
background-color: #aaa;
border-radius: 10px;
}
