body {
  /*padding: 1%;*/
  font-family: sans-serif;
  background-color: white;
  color: #555;
  /*margin: 0px;
  padding: 0px;*/
  overflow-y: hidden;
}
::-webkit-scrollbar {
width: 7px;
}
::-webkit-scrollbar-track-piece  {
}
::-webkit-scrollbar-thumb:vertical {
visibility: hidden;
background-color: #ddd;
border-radius: 10px;
}
